.create-project-form {
    display: flex;
    flex-direction: column!important;
}
.create-project-form h2 {
    font-family: 'Nunito';
    font-size: 1.55rem;
    color: #323748;
}

.create-project-form-input {
    margin-top: 2vh!important;
}
.create-project-buttons-wrapper {
    display: flex;
    margin-top: 2vh!important;
    flex-direction: row;
}
.create-project-form-button {
    flex: 1;
}
.cancel {
    margin-right: .5vw!important;
}
