.cluster-table {
    display: grid;
    flex-direction: column;
  }
  
  .cluster-table-row {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 300px;
  }
  
  .cluster-table-directions {
    font-family: "Open Sans", "Lato", "Roboto";
    /* padding: 5%; */
    padding: 1rem;
    height: min-content;
    background: #eee;
    border: 3px solid #e8e8e8;
    color: #323748;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-top: 2vh;
  }
.cluster-table-direction-cta {
  color: #1565C0;
  font-weight: 900;
}
  .cluster-table-directions-header {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* padding-top: -2vh;
    padding-bottom: -2vh; */
  }
  .cluster-table-directions-header span {
    font-weight: 600;
  }
  .cluster-table-directions-header > * {
    margin: 0 10px;
  }

  .cluster-table-directions.loading { 
    align-items: center;
    justify-content: center;
  }

  .cluster-table-directions.error {
    background: #eee;
    border: 3px solid #D32E2E;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
  }
  .cluster-table-error-icon {
    color: #D32E2E;
  }
  /* .comparing-clusters-loading-wrapper.error h3 {
    display: flex;
    flex-direction: row;
    margin-top: -.5vh;
    color: #fafafa;
  } */
  .comparing-clusters-loading-wrapper {
    display: flex;
    flex-direction: row;
  }

  .comparing-clusters-loading-wrapper h3 {
    font-size: 1.75rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #323748;
  }
  .cluster-table-loading__spinner {
    color: #1565C0!important;
  }
  .cluster-table-loading__text {
    margin-left: 1.5vw;
  }
  .cluster-table-loading__text p {
    margin-top: .25vh;
    font-size: 1.3rem;
  }
  .cluster-table-error {
    font-family: "Open Sans", "Lato", "Roboto";
    color: white;
    padding: 1rem;
    height: 100px;
    background: #ec3f3f;
    border-radius: 3px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cluster-violin-plot-wrapper {
    margin: 5px 3px;
    height: max-content;
    background: #eee;
    margin-top: 1vh;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
  }
  
  .cluster-violin-plot-wrapper:hover {
    cursor: pointer;
  }
  
  .cluster-violin-plot-button {
    width: 100%;
    text-transform: capitalize!important;
    font-family: 'Open Sans', 'Lato', 'Roboto'!important;
    font-size: 1rem!important;
    text-align: left;
  }

  @media screen and (max-width: 1919px) {
    .cluster-table-directions {
      font-size: 1.5rem;
    }
  }
  
  /*
    .cluster-card-wrapper {
        background: #fff;
        height: max-content;
        border-radius: 5px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    }
    .cluster-card-wrapper:hover {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
      transition: 0.1s ease-in-out;
      cursor: pointer;
    }
  */