.admin-usage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 3vh;
  height: min-content;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.admin-page-usage-header {
  border-bottom: 1px solid #eee;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.admin-page-usage-header h3 {
  /* font-family: Lato; */
  font-family: 'Open Sans', 'Lato', 'Roboto'!important;
  color: #323748;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 1vw;
}
.bars-wrapper {
  margin-top: 4vh;
  border-bottom: 1px solid #eee;
}
.model-usage-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 3rem;
  margin-left: 1vw;
  margin-bottom: 3.5vh;
}
.model-box {
  height: 100%;
  flex-basis: 3rem;
  border-radius: 5px;
}
.progress-bar-wrapper {
  display: flex;
  flex: 8;
  flex-direction: column;
}
.progress-bar-details {
  display: flex;
  margin-left: 1vw;
  flex-direction: row;
  font-size: 1rem;
  /* font-family: Nunito; */
  font-family: 'Open Sans', 'Lato', 'Roboto'!important;
  color: #323748;
}
@media screen and (max-width: 1919px) {
  .progress-bar-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
  .progress-bar-details.total {
    display: flex;
    flex-direction: column !important;
  }

  .progress-bar-model-name {
    margin-right: 0 !important;
  }
  .progress-bar-usage {
    margin-right: 100% !important;
    white-space: nowrap;
    margin-left: 0px !important;
    font-weight: 400;
    opacity: 0.7;
  }
  .model-usage-wrapper {
    height: min-content;
  }
  .model-box {
    height: 50px;
  }
}
.progress-bar-model-name {
  font-weight: 600;
}
.progress-bar-usage {
  margin-left: auto !important;
  font-weight: 400;
  opacity: 0.7;
}

.total-model-usage-wrapper {
  margin-top: 1vh;
  width: 97%;
}

.progress-bar-details.total {
  display: flex;
  margin-left: 1vw;
  flex-direction: row;
  font-size: 1.1rem;
  font-family: 'Open Sans', 'Lato', 'Roboto'!important;
  /* font-family: Nunito; */
  color: #323748;
}

.admin-progress {
  width: auto !important;
  height: 20px !important;
  margin-left: 1vw;
  margin-top: -1vh;
  overflow-x: hidden;
}

.model-usage-progress-bar {
  border-radius: 7px;
  width: auto;
  overflow-x: hidden;
  height: 1rem;
  margin-left: 1vw;
  margin-top: 0.5vh;
}
.model-usage-progress-bar::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 7px;
}
.model-usage-progress-bar::-webkit-progress-value {
  background-color: #43aa8b;
  border-radius: 7px;
}
.model-usage-progress-bar::-moz-progress-bar {
  border-radius: 7px;
  width: auto;
  background-color: #43aa8b;
  /* overflow-x: hidden;
  height: 1rem;
  margin-left: 1vw;
  margin-top: 0.5vh; */
}

.total-progress-bar-wrapper {
  width: 100%;
}
.total-model-usage-progress-bar progress {
}
/* style for total usage */
.total-model-usage-progress-bar {
  border-radius: 7px;
  width: 95%;
  overflow-x: hidden;
  height: 1.25rem;
  margin-left: 1vw;
  margin-top: 0.75vh;
}
.total-model-usage-progress-bar::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 7px;
}
.total-model-usage-progress-bar::-webkit-progress-value {
  background-color: #43aa8b;
  border-radius: 7px;
}
.total-model-usage-progress-bar::-moz-progress-bar {
  border-radius: 7px;
  width: auto;
  overflow-x: hidden;
  background-color: #43aa8b;
  /*
  height: 1rem;
  margin-left: 1vw;
  margin-top: 0.5vh; */
}
